@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
